<%= form_with(model: @shedule, local: true) do |f| %>
<p>
	<%= f.label :Event_Name %><br/>

	<%= f.text_field :event_name %>
</p>
<p>
	<%= f.label :Speaker_image %><br/>

	<%= f.file_field :avatar %>
</p>

<p>
	<%= f.label :Speaker_Name %><br/>

	<%= f.text_field :speaker_name %>
</p>
<p>
	<%= f.label :Venue_details %><br/>
	<%= f.text_field :venue_details%>
</p>
<p>
	<%= f.label :purpose_of_event %><br/>
	<%= f.text_area :purpose_of_conference%>
</p>
<p>
	<%= f.label :price %><br/>
	<%= f.text_field :price%>
</p>

<p>
	<%= f.label :catogry_of_people_who_will_get_benifits%><br/>
	<%= f.text_field :category%>
</p>

  
  <p>
  	<%= f.label :Date_and_time%><br/>
	<%= f.datetime_field :date_time %>
  </p>
<p>
	<%= f.submit :Save %>
</p>
<% end %>