<nav class="navbar navbar-expand-lg navbar-light bg-light">
  
  <%= link_to 'Book My Event', root_path, class: 'navbar-brand' %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to 'EventList',my_eventshow_path ,class: 'nav-link' %>
      </li>
      
      <% if current_user %>
       <%= link_to 'Booked Event List', booked_event_path ,class: 'nav-link' %>
      <li class="nav-item">
        <% if current_user && current_user.admin %>
        <%= link_to 'Add Event',new_shedule_path ,class: 'nav-link' %>
      </li>
       <% end %>
      
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <%= link_to 'Logout', destroy_user_session_path, class: 'btn btn-xs btn-success logout-button btn-logout',method: :delete %>
            <% end %>
            
  </div>
  <div>
    
            <ul class="navbar-nav ml-auto">
            <li class="nav-item mr-2">
            <% if !current_user %>
            <%= link_to 'login',new_user_session_path, class: 'btn btn-xs btn-success logout-button btn-logout'%></li>
          <li>  <%= link_to 'signup',new_user_registration_path, class: 'btn btn-xs btn-success logout-button btn-logout'%>
            <% end %></li></ul>
  </div>
</nav>
